html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* this helps prevent horizontal scroll */
}

@media (max-width: 767px) {
  .content {
    margin-left: 0 !important;
  }

  .sidebar {
    display: none !important;
  }
}

.content {
  padding: 15px;
}

@media (min-width: 768px) {
  .content {
    margin-left: 250px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.hero-img {
  width: 100%;
  height: auto;
  object-fit: contain; 
  display: block;
}

@media (max-width: 768px) {
  .hero-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hero-container {
    padding: 10px;
  }
}

.resume-item{
  margin-top: -2px;
  position: relative;
  padding: 0px 0px 20px 20px;
  border-left: 2px solid #149ddd;
}

.resume-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -7px; 
  width: 12px;
  height: 12px;
  background-color: #149ddd;
  border-radius: 50%;
}
.bg-dark-text {
  background-color: black;
  color: white;
  padding: 10px;
  display: inline-block;
}
.info-item{
  display: flex; 
  margin-bottom: 15px;
  margin-right: 10px;
}

.info-wrap{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h3{
 font-family:"Poppins", sans-serif;
 font-size: 32px;
 font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 10px;
	border-bottom: 3px solid skyblue;
	display: inline-block;
}

.content-below-image {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 0;  
}

.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding: 40px 0;
    position: relative;
    border-top: 1px solid 
color-mix(in srgb, var(--default-color), transparent 90%);
}
.light-background {
    --background-color: #f4fafd;
    --surface-color: #ffffff;
}
.position-relative {
    position: relative !important;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); 
  color: white;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
}

.hero-text p {
  font-size: 2rem;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 10px 20px;
}

.highlight {
  text-decoration: underline;
  text-decoration-color: skyblue;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }

  .hero-text p {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}
